/* Aquí irán los estilos que añada David*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
   url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
   url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
   url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body{
  font-family: Arial;
  line-height: 1.6;
  background-repeat: no-repeat;
  background-image: url('../images/back.jpeg');
}
/* ----NAV---- */
nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: sticky;
  top:0;
  padding-left: 1em;
  background-color: rgba(0, 195, 255, 0.267);
  z-index: 70;
  background-size: cover;
  background-image: url('../images/nav.png');
}
 a:hover{
  text-decoration: none;
}
.logo img{
  padding:0.5em 0 0.5em;
  display: block;
  text-shadow:2px 2px 0.1em white,3px 5px 0.5em white,-2px -2px 0.4em white;
  height: 5em;
}
.logo p{
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 1.5em;
  line-height: 1;
  font-weight: bold;
  color: #141939;
  text-shadow:2px 2px 0.1em white,3px 5px 0.5em white,-2px -2px 0.4em white;
  text-align: center
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto; 
  }
nav li {
    font-style: italic;
    font-size: 1.4em;
    color: white;
    text-shadow:2px 2px 0.1em black,3px 5px 0.5em black,-2px -2px 0.4em black;
    display: block;
    margin-left: 45px;
    padding-top: 2.5em;
    list-style: none;
    position: relative;
  }
  .socialMedia{
    
    padding-top: 3em;
    padding-right: 1.8em;
  }
  .socialMedia img{
    width: 2em;
  }

  /* HEADER */
  header{
    color: white;
    padding:3em 4em 6em 4em;
  }
  header h1{
    margin-left: 30%;
    font-weight: bold;
    font-size: 4em;
  }header p{
    margin-left: 30%;
    margin-bottom: 1em;
    font-size: 2.5em;
  }
  header button{
  all:unset;
  display: block;
  color: black;
  background-color: #fef200;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
  width: 20%;
  margin-left: 43%;
  padding:0.4em 0.1em 0.4em 0.1em;
  }

  /* CONTACT */
  .contact{
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    padding: 4em 0 6em 1.4em
  }
  .contact img{
    margin-left: 9.5em;
    display: block;
  }
  .barraAzul::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #73adfe;
    transition: all ease-in-out 500ms;
  }
  .barraAzul:hover::before {
    width: 83%;
  }
  .contactForm{
    padding: 0 0 0 4em;
    flex-wrap: wrap;
  }
  .contactForm input{
    font-size: 0.8em;
    margin: 0.6em;
    width: 40%;
    padding: 0.6em;
  } .contactForm textarea{
    font-size: 0.8em;
    margin: 0.6em;
    padding: 0.8em;
    width: 83%;
  }
  .contact button{
  all:unset;
  font-style: italic;
  text-align: center;
  color: black;
  background-color: #fef200;
  font-size: 1.3em;
  width: 25%;
  padding:0.7em 0.1em 0.7em 0.5em;
}
  
  .fieldsWarning{
    font-size: .7em;
  }
  /*------- Footer---------*/
  footer{
    padding: 1.5em;
    font-size: 1.4em;
    color: white;
    background-color: #141939;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 auto;
  }
  footer .ayuda, .informacion,.suscribete{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  }
  .ayuda{
    padding-left: 9.5em;
  }
  .ayuda p{
    padding-left: 0.8em;
  }
  .horario{
    padding-top: 2em;
    font-size: 0.8em;
  }
  footer input{
    font-size: 0.6em;
    padding: 0.5em;
    width: 80%;
  }
footer button{
  all:unset;
  color: black;
  text-align: center;
  background-color: #fef200;
  font-size: 1.3em;
  width: 53%;
  padding:0.4em 0.1em 0.4em 0.1em;
}

@media (max-width: 1280px) {
  .nav{
    
  flex-direction: column;
  }
footer, .contact{
  padding: 5em;
  flex-direction: column;
}
footer .ayuda, .informacion,.suscribete{
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
  }
  
  .ayuda{
    padding-left: 0;
  }
}
@media (max-width: 700px) {

  nav{
    font-size: 1em;
    flex-direction: column;
  }
}