/* Aquí irán los estilos que añada Jose Antonio*/
/* ya estoy aquí wey */
.micro {
    background-size: cover;
    background-image: url('../images/travel_3.jpg');
    /*height: 500px;*/
    padding: 50px;
}

.quien {
    background-color: whitesmoke;
    padding: 30px;
    text-align: justify;
    width: 40%;
    /*height: 400px;*/
}

.quien hr {
    background-color: gold;
    height: 5px;
    width: 50%;
    float: left;

}

.quien h1 {
    font-weight: bold;
    font-style: italic;
 font-size: 2em;
    color: darkblue;
    


}

.quien p {
    color: darkblue;
   
    padding: 2em;
}

.butto {
    width: 100%;
    text-align: center;

}

button {
    font-weight: bold;
    background-color: darkblue;
    color: yellow;
    font-weight: bold;
    padding: 10px;



}
@media (max-width: 1280px) {
.quien {
   width: 90%;
 
}   
}