 <footer>
        <div class="ayuda">
            <h3>NECESITAS AYUDA?</h3>
            <br>
            <p>0264 123 4567
                <br>
                enquiry@geekshubstravels.com
            </p>
            <div class="horario">
                Lun-Vie. 9:30-19:30 Sab:10:00-14:00
            </div>
        </div>
        <div class="informacion">
            <h3>INFORMACION</h3>
            <ul>
                <li>Quienes somos</li>
                <li>Preguntas frecuentes</li>
                <li>Política de privacidad</li>
                <li>Condiciones generales</li>
                <li>Aviso legal</li>
                <li>Contacto</li>
                <li>Programa de puntos</li>
            </ul>
        </div>
        <div class="suscribete">
            <h3>SUSCRIBETE A LA NEWSLETTER</h3>
            <br>
            <input type="email" placeholder="Correo electrónico" />
            <br>
            <button>SUSCRIBETE</button>
        </div>
    </footer>