<div class="nav">
    <nav>
        <div class="logo">
            <img src="images/iconoweb.png" alt="logo"><br>
            <p>Geekshubs <br>
                Travels </p>
        </div>
        <div class="sel">
            <a href="#inicio">Inicio</a>
            <a href="#destinos">Destinos</a>
            <a href="#quienesSomos">QuienesSomos</a>
            <a href="#dondeEstamos">Donde estamos</a>
        </div>
        <div class="socialMedia">
            <a href="https://twitter.com/geeks_academy" target="_blank"><img src="images/tt-ico.png" alt="Twitter"></a>
            <a href="#"> <img src="images/ws-ico.png" alt="WhatsApp"></a>
            <a href="https://www.facebook.com/geekshubsacademy/" target="_blank"><img src="images/fb-ico.png"
                    alt="Facebook"></a>
            <a href="https://www.instagram.com/geekshubs/" target="_blank"><img src="images/Instagram.png"
                    alt="Instagram"></a>
            <a href="https://www.linkedin.com/school/geekshubsacademy/" target="_blank"><img src="images/linkedIn.png"
                    alt="linkedIn"></a>
            <a href="https://www.youtube.com/user/geekshubs" target="_blank"> <img src="images/YT.png"
                    alt="Youtube"></a>
        </div>

    </nav><!-- Aqui estamos cerrando la nueva etiqueta nav -->
    {{!-- <div class="loger"><img src="images/user+.png" alt=""></div> --}}
    <div class="loger">
        <button id="boton5" value="/home" type="submit" onclick=""><img src="images/home.png" alt=""></button>
        <button id="boton4" value="/registro" type="submit" onclick=""><img src="images/user+.png" alt=""></button>
        <button id="boton3" value="/login" type="submit" onclick=""><img src="images/logIn.png" alt=""></button>

    </div>
</div>


<div class="movil">
    <nav>
        <div class="desplegable">
            {{!-- <div class="logMen"> --}}
            <div class="logo">
                <img src="images/iconoweb.png" alt="logo"><br>
                <p>Geekshubs <br>
                    Travels </p>

            </div>

            <button id="boton1" type="button" onclick="mostrar()"><img class="rayas" src="images/menu.png"
                    alt="menu"></button>
            <button id="boton2" type="button" onclick="ocultar()"><img class="rayas" src="images/menu.png"
                    alt="menu"></button>
            {{!-- </div> --}}
        </div>

        <div class="sel" id="sel">


            <div class="eleccion">
                <a href="#inicio">Inicio</a>
                <a href="#destinos">Destinos</a>
                <a href="#quienesSomos">QuienesSomos</a>
                <a href="#dondeEstamos">Donde estamos</a>
            </div>
            <div class="socialMedia">
                <a href="https://twitter.com/geeks_academy" target="_blank"><img src="images/tt-ico.png"
                        alt="Twitter"></a>
                <a href="#"> <img src="images/ws-ico.png" alt="WhatsApp"></a>
                <a href="https://www.facebook.com/geekshubsacademy/" target="_blank"><img src="images/fb-ico.png"
                        alt="Facebook"></a>
                <a href="https://www.instagram.com/geekshubs/" target="_blank"><img src="images/Instagram.png"
                        alt="Instagram"></a>
                <a href="https://www.linkedin.com/school/geekshubsacademy/" target="_blank"><img
                        src="images/linkedIn.png" alt="linkedIn"></a>
                <a href="https://www.youtube.com/user/geekshubs" target="_blank"> <img src="images/YT.png"
                        alt="Youtube"></a>
            </div>
        </div>
    </nav><!-- Aqui estamos cerrando la nueva etiqueta nav -->
    {{!-- <div class="loger"><img src="images/user+.png" alt=""></div> --}}
    <div class="loger">
        <button id="boton5" value="/home" type="submit" onclick=""><img src="images/home.png" alt=""></button>
        <button id="boton4" value="/registro" type="submit" onclick=""><img src="images/user+.png" alt=""></button>
        <button id="boton3" value="/login" type="submit" onclick=""><img src="images/logIn.png" alt=""></button>

    </div>

</div>