@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html {
    font-size: 62.5%;
    height: 100%;
    /* min-width: 368px; */
}

body {
    /* min-width: 350px; */
    /* height: -10rem; */
    /* margin:0; */
    font-family: Arial;
    /* line-height: 1.6; */
    display: flex;
    flex-direction: column;
    background-size: cover;

    /* background-color: rosybrown; */
    /* margin: 0; no hace falta por el normalize*/
    /*haciendo esto 1 rem son 10 px*/

    /* Aquí irán los estilos que añada Jose Antonio*/
    /* ya estoy aquí wey */
}

h1 {
    font-size: 3.2rem;
    /*esto son 22 px*/
}

p {
    font-size: 1.6rem;
}





/*****************************************************     cabecera          **********************************************************************/




/* ----NAV---- */



.movil {
    display: none;
}



.nav {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    /*align-content: space-between;
    align-items: center; */
    position: sticky;
    top: 0;
    z-index: 10;

    /* padding: 1rem; */
    /* background-color: rgba(0, 195, 255, 0.267); */
    /* background-color: red; */
    /* background-size: cover;
    background-image:  url('../images/nav.png'); */

}


nav {
    /* position:absolute; */

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: fuchsia; */
    justify-content: space-between;
    /* justify-content:space-around; */
    /* position: sticky; */
    /* top: 0; */
    /* padding-left: 1rem; */
    padding: 1rem;
    background-color: rgba(0, 195, 255, 0.267);
    /* background-color: red; */

    background-size: cover;
    background-image: url('../images/nav.png');
}

.sel a {
    margin: 0.5vw;
    /* background: tomato; */
    font-style: italic;
    font-size: calc(5px + 1vw);
    color: white;
    text-shadow: 2px 2px 0.1rem black, 3px 5px 0.5rem black, -2px -2px 0.4rem black;
    /* display: block; */
    /* margin-left: 45px; */
    /* padding-top: 2.5rem; */
    list-style: none;
    position: relative;

}

#obj1 {
    background: blue;
}

.socialMedia {
    display: flex;
    }

.socialMedia img {
    /* width: 2.5vw; */
    width: calc(2rem + 1vw);
    margin: 0.25rem
}

a:hover {
    text-decoration: none;
    /* background:red; */
}

.logo {
    /* height: calc(2rem + 1vw); */
    /* float: right; */
    /* background: #fef200 */
    /* position: absolute; */

}

.logo img {
    /* margin: 0; */
    /* padding: 0.5vw 0 0.5vw; */
    /* display: block; */
    /* text-shadow: 2px 2px 0.1rem white, 3px 5px 0.5rem white, -2px -2px 0.4rem white; */
    height: calc(2rem + 1vw);


    /* margin: 0 auto; */
}

/* font-size: calc( 5px + 1vw); */
.logo p {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: calc(1rem + 0.5vw);
    line-height: 1;
    font-weight: bold;
    color: #141939;
    text-shadow: 2px 2px 0.1rem white, 3px 5px 0.5rem white, -2px -2px 0.4rem white;
    text-align: center;
}



.loger {
    display: flex;
    /* align-items: center; */
    /* flex-direction: flex-end; */
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    width: 100%;
    /* overflow: unset; */
    /* position: absolute; */
    /* height: 0; */
    /* position:relative; */
    top: 0;
    z-index: 70;
}

#boton3,
#boton4,
#boton5 {

    /* width: 100%; */
    /* margin: 0.2rem ; */
    margin: 0.5vw 0 0 0;
    /* color:white; */
    border: 0;
    outline: 0 none;
    background-color: transparent;
    /* background-color: red; */


}

#boton3 img,
#boton4 img,
#boton5 img {

    border: 2px solid black;
    border-radius: 5px;
    /* background:red; */
    padding: 0.5rem;
    width: calc(3rem + 2vw);

}



/* HEADER */
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;


    /* background-image: url('../images/back.jpeg') ; */
    /* height: 30rem; */
    color: white;

}

header h1 {
    /* margin-left: 30%; */
    font-weight: bold;
    font-size: 4rem;
}

header p {
    /* margin-left: 30%; */
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

header button {
    all: unset;
    display: block;
    color: black;
    background-color: #fef200;
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 30%;
    padding: 0.4rem 0.1rem 0.4rem 0.1rem;
    border-radius: 5px;
    border: 2px solid black;
}

header img {
    position: absolute;
    height: 80%;
    /* height: 120%; */
    width: 100%;
}

header div {
    margin: 7rem;
    position: relative;
}

/**********************************           cabecera      ****************************************************************/


/*************************************    DESTINOS         ****************************************************/

.destinos {
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fff;
    padding: 3rem 2rem 1rem 7rem;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.destinos div {
    padding: 2rem 0.5rem 1rem 0.5rem;
}

.a {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/beijing.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.a p,
.b p,
.c p,
.d p,
.e p,
.f p {
    font-size: 1.2em;
    text-align: left;
    padding: 0.5em 0 0.5em 0.5em;
    top: -1.65em;
    left: -0.42em;
    ;
    margin: 0 auto;
    position: relative;
    color: white;
    background-color: #141939;
    z-index: 2;
}

.a h3,
.b h3,
.c h3,
.d h3,
.e h3,
.f h3 {
    font-size: 2em;
    font-weight: bold;
    top: -2.55em;
    right: -3.1em;
    width: 40%;
    margin: 0 auto;
    position: relative;
    color: black;
    padding: 0.5em;
    background-color: #fef200;
    z-index: 3;
}

.b {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/buenos_aires.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.c {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/ciudad_mexico.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.d {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/madrid.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.e {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/new_york.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.f {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/tokyo.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.imagenes_destinos {
    display: block;
    position: relative;
    width: 20em;
    height: 18em;
    z-index: 0;
}

.texto_destinos {
    z-index: +2;
    font-size: 1.4em;
}

/*************************************    DESTINOS         ****************************************************/







/******************    Quien somos     ******************************************************************/
.quienesSomos {
    background-size: cover;
    background-image: url('../images/travel_3.jpg');
    background-size: cover;
    /*height: 500px;*/
    padding: 50px;
}

.quien {
    background-color: whitesmoke;
    padding: 5vw;
    text-align: justify;
    width: 40%;
    /*height: 400px;*/
}

.quien hr {
    background-color: gold;
    height: 5px;
    width: 90%;
    float: left;

}

.quien h1 {
    font-weight: bold;
    font-style: italic;
    font-size:calc(2rem + 1vw) ;
    color: darkblue;



}

.quien p {
    color: darkblue;
    font-size:calc(0.5rem + 1vw) ;

    padding: 2em;
}

.butto {
    width: 100%;
    text-align: center;

}

.quienesSomos button {
    font-weight: bold;
    background-color: darkblue;
    color: yellow;
    padding:2rem;
    /* width: 2rem; */
}



/*****************************        Quien somos     ****************************************************/



/***********************       Contacto    *********************************************************************/
.contact {
     display: flex;
   justify-content: space-around;
 flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    /* background-color: #220786; */
    padding: 4rem 
}

.mapa{
    /* height: 30vw; */
    background: orange;
    /* padding: 2vw; */
    width: 30%;
}
.contactForm {
    display: flex;
   
    justify-content: center;

    flex-direction: column;
    flex-wrap: wrap;
    /* align-content: center; */
    
    padding: 1vw;
    /* background: red; */
 

}
.contactForm p{
    font-size: 1.5rem;
    /* background-color: #220786; */

}

.barraAzul::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #73adfe;
    transition: all ease-in-out 500ms;
}

.barraAzul:hover::before {
    width: 83%;
}



.contactForm input {
    font-size: 1rem;
    margin: 0.4rem;
    /* width: 40%; */
    /* padding: 0.6vw; */
}

.contactForm textarea { 
    font-size: 1rem;
    margin: 0.4rem;
    padding: 0.8rem;
    width: 100%;
 }

.enviarSms {

    font-style: italic;
    text-align: center;
    color: black;
    background-color: #fef200;
    font-size: 1.3rem;
    padding:0.5rem;
    /* width: 30%; */

}

.fieldsWarning {
    font-size: 1rem;
}

/******************** Contacto ******************************/




/**************************    Footer    *********************************/

footer {
    padding: 1.5rem;
    width: 100%;
    font-size: 1.4rem;
    color: white;
    /* background-color: #141939; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
    align-content: space-around;
    /* position: sticky; */
    bottom: 0;
    z-index: 5;
    background-color: rgba(0, 195, 255, 0.267);

    background-size: cover;
    background-image: url('../images/nav.png');
}

footer .ayuda,
.informacion,
.suscribete {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.5rem;
}

/* .ayuda {
    padding-left: 9.5rem;
}

.ayuda p {
    padding-left: 0.8rem;
}

.horario {
    padding-top: 2rem;
    font-size: 0.8rem;
} */

footer input {
    font-size: 0.6rem;
    padding: 0.5rem;
    width: 80%;
}

footer button {
    all: unset;
    color: black;
    text-align: center;
    background-color: #fef200;
    font-size: 1.3rem;
    width: 53%;
    padding: 0.4rem 0.1rem 0.4rem 0.1rem;
}


/*       login    */

.unico {
    display: flex;
    margin-top: -7rem;
    padding: 11.5%;
    z-index: 5;
    background: url('../images/back.jpeg ');
    background-size: cover;
}

.formulario {
    background: rgba(0, 0, 0, .7);
    padding: 3rem
}

.iniciar {
    background: orange;
    padding: 0.2rem;
    min-width: 5rem;
}

.formulario input {
    /* width: 15vw; */
    margin: 0.5rem;

}