@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html,
body {
    /* background-color: rosybrown; */
    /* margin: 0; no hace falta por el normalize*/
    /*haciendo esto 1 rem son 10 px*/
    font-size: 62.5%;
    /* Aquí irán los estilos que añada Jose Antonio*/
    /* ya estoy aquí wey */
}

h1 {
    font-size: 3.2rem;
    /*esto son 22 px*/
}

p {
    font-size: 1.6rem;
}






/*****************************************************     cabecera          **********************************************************************/



body {
    font-family: Arial;
    /* line-height: 1.6; */
    background-repeat: no-repeat;
}

/* ----NAV---- */



.movil {
    display: none;
}



.nav{
     width: 100%;
     /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    /*align-content: space-between;
    align-items: center; */
    position: sticky;
    top: 0;
    z-index: 70;
    /* padding: 1rem; */
    /* background-color: rgba(0, 195, 255, 0.267); */
   /* background-color: red; */
    /* background-size: cover;
    background-image:  url('../images/nav.png'); */

}


nav {
    /* position:absolute; */

    width: 100%;
     display: flex;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
     /* background: fuchsia; */
     justify-content:space-between;
     /* justify-content:space-around; */
    /* position: sticky; */
    /* top: 0; */
    /* padding-left: 1rem; */
    padding: 1rem;
    background-color: rgba(0, 195, 255, 0.267);
   
    background-size: cover;
    background-image: url('../images/nav.png');
}

.sel a { 
    margin:0.5vw;
    /* background: tomato; */
    font-style: italic;
    font-size: calc( 5px + 1vw);
    color: white;
    text-shadow: 2px 2px 0.1rem black, 3px 5px 0.5rem black, -2px -2px 0.4rem black;
    /* display: block; */
    /* margin-left: 45px; */
    /* padding-top: 2.5rem; */
    list-style: none;
    position: relative;
        
}

#obj1{
    background:blue;
}
.socialMedia {
    display: flex;
    /* flex-wrap: wrap;
    flex-direction: row; */
    /* background-color: red; */


    /* padding-top: 3rem;
    padding-right: 1.8rem; */
}
.socialMedia img {
    /* width: 2.5vw; */
    width: calc( 2rem + 1vw);
    margin:0.25rem

}

a:hover {
    text-decoration: none;
    /* background:red; */
}

.logo{
    /* background: #fef200 */

}
.logo img {
    /* margin: 0; */
    /* padding: 0.5vw 0 0.5vw; */
    display: block;
    /* text-shadow: 2px 2px 0.1rem white, 3px 5px 0.5rem white, -2px -2px 0.4rem white; */
    height:calc( 4rem + 2vh);
   
    
    margin: 0 auto;
}
/* font-size: calc( 5px + 1vw); */
.logo p {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: calc( 1.5rem + 1vh);    line-height: 1;
    font-weight: bold;
    color: #141939;
    text-shadow: 2px 2px 0.1rem white, 3px 5px 0.5rem white, -2px -2px 0.4rem white;
    text-align: center;
}

#boton1 img,
#boton2 img
{
    /* padding: 0.5vw 0 0.5vw; */
    height: calc( 4rem + 2vh);
    float: right;
    
}

.loger{
    display: flex;
    /* align-items: center; */
    /* flex-direction: flex-end; */
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    width: 100%;
    /* overflow: unset; */
    /* position: absolute; */
    /* height: 0; */
    /* position:relative; */
    top: 0;
    z-index: 70;
} 
#boton3,
#boton4{
    
    /* width: 100%; */
    /* margin: 0.2rem ; */
    margin: 0.5vw 0 0 0;
     /* background-color:transparent; */
        /* color:white; */
        border:0;
        outline:0 none;
        background-color:transparent;

}
#boton3 img,
#boton4 img
{    

     border: 2px solid black;
    border-radius: 5px;
    /* background:red; */
    padding: 0.5em;
    height: calc( 4rem + 2vh);

}



/* HEADER */
header {

    background-image: url('../images/back.jpeg');

    color: white;
    padding: 3rem 4rem 6rem 4rem;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 100%;
    width: 100%; */
}

header h1 {
    margin-left: 30%;
    font-weight: bold;
    font-size: 4rem;
}

header p {
    margin-left: 30%;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

header button {
    all: unset;
    display: block;
    color: black;
    background-color: #fef200;
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    width: 20%;
    margin-left: 43%;
    padding: 0.4rem 0.1rem 0.4rem 0.1rem;
}

/**********************************           cabecera      ****************************************************************/


/*************************************    DESTINOS         ****************************************************/

.destinos {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #fff;
    padding: 3rem 2rem 1rem 7rem;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.destinos div {
    padding: 2rem 0.5rem 1rem 0.5rem;
}

.a {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/beijing.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.a p,
.b p,
.c p,
.d p,
.e p,
.f p {
    font-size: 1.2em;
    text-align: left;
    padding: 0.5em 0 0.5em 0.5em;
    top: -1.65em;
    left: -0.42em;
    ;
    margin: 0 auto;
    position: relative;
    color: white;
    background-color: #141939;
    z-index: 2;
}

.a h3,
.b h3,
.c h3,
.d h3,
.e h3,
.f h3 {
    font-size: 2em;
    font-weight: bold;
    top: -2.55em;
    right: -3.1em;
    width: 40%;
    margin: 0 auto;
    position: relative;
    color: black;
    padding: 0.5em;
    background-color: #fef200;
    z-index: 3;
}

.b {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/buenos_aires.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.c {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/ciudad_mexico.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.d {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/madrid.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.e {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/new_york.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.f {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/tokyo.jpg');
    height: 18em;
    width: 20em;
    position: relative;
    z-index: 1;
}

.imagenes_destinos {
    display: block;
    position: relative;
    width: 20em;
    height: 18em;
    z-index: 0;
}

.texto_destinos {
    z-index: +2;
    font-size: 1.4em;
}

/*************************************    DESTINOS         ****************************************************/







/******************    Quien somos     ******************************************************************/
.quienesSomos {
    background-size: cover;
    background-image: url('../images/travel_3.jpg');
    /*height: 500px;*/
    padding: 50px;
}

.quien {
    background-color: whitesmoke;
    padding: 30px;
    text-align: justify;
    width: 40%;
    /*height: 400px;*/
}

.quien hr {
    background-color: gold;
    height: 5px;
    width: 50%;
    float: left;

}

.quien h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.6rem;
    color: darkblue;



}

.quien p {
    color: darkblue;

    padding: 2em;
}

.butto {
    width: 100%;
    text-align: center;

}

.quienesSomos button {
    font-weight: bold;
    background-color: darkblue;
    color: yellow;
    padding: 10px;
}



/*****************************        Quien somos     ****************************************************/



/***********************       Contacto    *********************************************************************/
.contact {
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    padding: 4rem 0 6rem 1.4rem
}

.contact img {
    margin-left: 9.5rem;
    display: block;
}

.barraAzul::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #73adfe;
    transition: all ease-in-out 500ms;
}

.barraAzul:hover::before {
    width: 83%;
}

.contactForm {
    padding: 0 0 0 4rem;
    flex-wrap: wrap;
}

.contactForm input {
    font-size: 0.8rem;
    margin: 0.6rem;
    width: 40%;
    padding: 0.6rem;
}

.contactForm textarea {
    font-size: 0.8rem;
    margin: 0.6rem;
    padding: 0.8rem;
    width: 83%;
}

.contact button {
    all: unset;
    font-style: italic;
    text-align: center;
    color: black;
    background-color: #fef200;
    font-size: 1.3rem;
    width: 25%;
    padding: 0.7rem 0.1rem 0.7rem 0.5rem;
}

.fieldsWarning {
    font-size: .7rem;
}

/******************** Contacto ******************************/




/**************************    Footer    *********************************/

footer {
    padding: 1.5rem;
    font-size: 1.4rem;
    color: white;
    background-color: #141939;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

footer .ayuda,
.informacion,
.suscribete {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.ayuda {
    padding-left: 9.5rem;
}

.ayuda p {
    padding-left: 0.8rem;
}

.horario {
    padding-top: 2rem;
    font-size: 0.8rem;
}

footer input {
    font-size: 0.6rem;
    padding: 0.5rem;
    width: 80%;
}

footer button {
    all: unset;
    color: black;
    text-align: center;
    background-color: #fef200;
    font-size: 1.3rem;
    width: 53%;
    padding: 0.4rem 0.1rem 0.4rem 0.1rem;
}


/*       login    */

